In [1]:
import numpy as np
import pandas as pd

### filtering indexing and grouping

df = pd.read_csv("airlines.csv")
df

,Airport.Code,Airport.Name,Time.Label,Month,Time.Month Name,Time.Year,Statistics.# of Delays.Carrier,Statistics.# of Delays.Late Aircraft,Statistics.# of Delays.National Aviation System,Statistics.# of Delays.Security,...,Statistics.Flights.Delayed,Statistics.Flights.Diverted,Statistics.Flights.On Time,Statistics.Flights.Total,Statistics.Minutes Delayed.Carrier,Statistics.Minutes Delayed.Late Aircraft,Statistics.Minutes Delayed.National Aviation System,Statistics.Minutes Delayed.Security,Statistics.Minutes Delayed.Total,Statistics.Minutes Delayed.Weather
0,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",2003/06,6,June,2003,1009,1275,3217,17,...,5843,27,23974,30060,61606,68335,118831,518,268764,19474
1,BOS,"Boston, MA: Logan International",2003/06,6,June,2003,374,495,685,3,...,1623,3,7875,9639,20319,28189,24400,99,77167,4160
2,BWI,"Baltimore, MD: Baltimore/Washington Internatio...",2003/06,6,June,2003,296,477,389,8,...,1245,15,6998,8287,13635,26810,17556,278,64480,6201
3,CLT,"Charlotte, NC: Charlotte Douglas International",2003/06,6,June,2003,300,472,735,2,...,1562,14,7021,8670,14763,23379,23804,127,65865,3792
4,DCA,"Washington, DC: Ronald Reagan Washington National",2003/06,6,June,2003,283,268,487,4,...,1100,18,5321,6513,13775,13712,20999,120,52747,4141
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1844,MDW,"Chicago, IL: Chicago Midway International",2008/09,9,September,2008,162,268,128,1,...,576,5,6327,6971,6727,11651,3661,33,23118,1046
1845,MIA,"Miami, FL: Miami International",2008/09,9,September,2008,244,190,370,-1,...,827,5,3736,4635,19850,12366,11713,5,45073,1135
1846,MSP,"Minneapolis, MN: Minneapolis-St Paul Internati...",2008/09,9,September,2008,304,236,320,3,...,889,17,8666,9634,23602,13261,10414,265,49517,1975
1847,ORD,"Chicago, IL: Chicago O'Hare International",2008/09,9,September,2008,916,1466,3509,5,...,6008,67,21529,28251,68440,97494,223965,105,398467,8463
1848,PDX,"Portland, OR: Portland International",2008/09,9,September,2008,161,169,136,0,...,476,1,4044,4535,7623,8927,3795,0,20794,449

In [5]:
### rows by coloumns
print(df.shape)

(1849, 24)

In [11]:
### list down the columns
print(df.columns)

Index(['Airport.Code', 'Airport.Name', 'Time.Label', 'Month',
       'Time.Month Name', 'Time.Year', 'Statistics.# of Delays.Carrier',
       'Statistics.# of Delays.Late Aircraft',
       'Statistics.# of Delays.National Aviation System',
       'Statistics.# of Delays.Security', 'Statistics.# of Delays.Weather',
       'Statistics.Carriers.Names', 'Statistics.Carriers.Total', 'Cancelled',
       'Statistics.Flights.Delayed', 'Statistics.Flights.Diverted',
       'Statistics.Flights.On Time', 'Statistics.Flights.Total',
       'Statistics.Minutes Delayed.Carrier',
       'Statistics.Minutes Delayed.Late Aircraft',
       'Statistics.Minutes Delayed.National Aviation System',
       'Statistics.Minutes Delayed.Security',
       'Statistics.Minutes Delayed.Total',
       'Statistics.Minutes Delayed.Weather'],
      dtype='object')

In [19]:
### access individual coloumns

df[['Airport.Code' , 'Airport.Name']]

     Airport.Code                                       Airport.Name
0             ATL  Atlanta, GA: Hartsfield-Jackson Atlanta Intern...
1             BOS                    Boston, MA: Logan International
2             BWI  Baltimore, MD: Baltimore/Washington Internatio...
3             CLT     Charlotte, NC: Charlotte Douglas International
4             DCA  Washington, DC: Ronald Reagan Washington National
...           ...                                                ...
1844          MDW          Chicago, IL: Chicago Midway International
1845          MIA                     Miami, FL: Miami International
1846          MSP  Minneapolis, MN: Minneapolis-St Paul Internati...
1847          ORD          Chicago, IL: Chicago O'Hare International
1848          PDX               Portland, OR: Portland International

[1849 rows x 2 columns]

In [25]:
### shows the 

df['Airport.Code'] == "ATL"

0        True
1       False
2       False
3       False
4       False
        ...
1844    False
1845    False
1846    False
1847    False
1848    False
Name: Airport.Code, Length: 1849, dtype: bool

In [26]:
### 

df['Airport.Code'].unique()

array(['ATL', 'BOS', 'BWI', 'CLT', 'DCA', 'DEN', 'DFW', 'DTW', 'EWR',
       'FLL', 'IAD', 'IAH', 'JFK', 'LAS', 'LAX', 'LGA', 'MCO', 'MDW',
       'MIA', 'MSP', 'ORD', 'PDX', 'PHL', 'PHX', 'SAN', 'SEA', 'SFO',
       'SLC', 'TPA'], dtype=object)

In [30]:
### data filteration finding data for code BOL

df['Airport.Code'] == 'BOS'

0       False
1        True
2       False
3       False
4       False
        ...
1844    False
1845    False
1846    False
1847    False
1848    False
Name: Airport.Code, Length: 1849, dtype: bool

In [34]:
### storing the condition into variable and printing it for filtering the records
filter = df['Airport.Code'] == 'BOS' 

## filter variable id needed to passed into df otherwise it will return a boolen array
df[filter]

,Airport.Code,Airport.Name,Time.Label,Month,Time.Month Name,Time.Year,Statistics.# of Delays.Carrier,Statistics.# of Delays.Late Aircraft,Statistics.# of Delays.National Aviation System,Statistics.# of Delays.Security,...,Statistics.Flights.Delayed,Statistics.Flights.Diverted,Statistics.Flights.On Time,Statistics.Flights.Total,Statistics.Minutes Delayed.Carrier,Statistics.Minutes Delayed.Late Aircraft,Statistics.Minutes Delayed.National Aviation System,Statistics.Minutes Delayed.Security,Statistics.Minutes Delayed.Total,Statistics.Minutes Delayed.Weather
1,BOS,"Boston, MA: Logan International",2003/06,6,June,2003,374,495,685,3,...,1623,3,7875,9639,20319,28189,24400,99,77167,4160
30,BOS,"Boston, MA: Logan International",2003/07,7,July,2003,450,587,609,0,...,1710,3,8033,9972,28610,36619,26923,10,97186,5024
59,BOS,"Boston, MA: Logan International",2003/08,8,August,2003,481,698,978,0,...,2256,15,7370,9933,28571,49297,42254,4,127494,7368
88,BOS,"Boston, MA: Logan International",2003/09,9,September,2003,287,413,675,1,...,1398,13,7860,9528,16865,22421,27189,45,68271,1751
117,BOS,"Boston, MA: Logan International",2003/10,10,October,2003,348,382,539,4,...,1284,9,8543,9960,18198,19363,15163,156,53533,653
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1712,BOS,"Boston, MA: Logan International",2008/05,5,May,2008,504,602,712,3,...,1914,8,8198,10276,30086,38225,34868,85,110722,7458
1741,BOS,"Boston, MA: Logan International",2008/06,6,June,2008,654,967,1489,2,...,3266,28,6627,10288,44909,73711,88741,56,219937,12520
1770,BOS,"Boston, MA: Logan International",2008/07,7,July,2008,637,876,1359,6,...,3005,21,7145,10591,44612,73333,87567,350,217595,11733
1799,BOS,"Boston, MA: Logan International",2008/08,8,August,2008,636,763,1356,3,...,2876,23,7109,10357,43520,59377,84634,68,198940,11341
1828,BOS,"Boston, MA: Logan International",2008/09,9,September,2008,367,357,854,1,...,1651,8,7270,9089,20842,22346,37486,33,86126,5419

In [35]:
new_filter = df['Airport.Code'] == "PDX"

df[new_filter]

,Airport.Code,Airport.Name,Time.Label,Month,Time.Month Name,Time.Year,Statistics.# of Delays.Carrier,Statistics.# of Delays.Late Aircraft,Statistics.# of Delays.National Aviation System,Statistics.# of Delays.Security,...,Statistics.Flights.Delayed,Statistics.Flights.Diverted,Statistics.Flights.On Time,Statistics.Flights.Total,Statistics.Minutes Delayed.Carrier,Statistics.Minutes Delayed.Late Aircraft,Statistics.Minutes Delayed.National Aviation System,Statistics.Minutes Delayed.Security,Statistics.Minutes Delayed.Total,Statistics.Minutes Delayed.Weather
21,PDX,"Portland, OR: Portland International",2003/06,6,June,2003,193,248,213,11,...,684,5,4040,4746,8260,11909,5943,505,27645,1028
50,PDX,"Portland, OR: Portland International",2003/07,7,July,2003,224,332,126,7,...,716,2,4273,5016,10823,19298,4604,180,36851,1946
79,PDX,"Portland, OR: Portland International",2003/08,8,August,2003,194,336,128,5,...,693,4,4249,4972,9713,18118,4683,148,34824,2162
108,PDX,"Portland, OR: Portland International",2003/09,9,September,2003,133,142,144,2,...,428,1,4144,4617,6798,7490,4505,39,19295,463
137,PDX,"Portland, OR: Portland International",2003/10,10,October,2003,147,245,255,3,...,656,3,4045,4749,7896,14719,8010,182,31002,195
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1732,PDX,"Portland, OR: Portland International",2008/05,5,May,2008,301,406,323,3,...,1041,6,3867,4926,15420,20596,10112,92,46821,601
1761,PDX,"Portland, OR: Portland International",2008/06,6,June,2008,432,519,491,1,...,1475,6,3661,5165,23021,30882,18801,22,75194,2468
1790,PDX,"Portland, OR: Portland International",2008/07,7,July,2008,355,433,261,5,...,1080,1,4281,5385,17653,27556,10565,213,57607,1620
1819,PDX,"Portland, OR: Portland International",2008/08,8,August,2008,320,399,199,0,...,942,2,4325,5289,18456,23950,7160,17,51799,2216
1848,PDX,"Portland, OR: Portland International",2008/09,9,September,2008,161,169,136,0,...,476,1,4044,4535,7623,8927,3795,0,20794,449

In [48]:
### value_count is a mtd to count the catagori
### analys and present the data

df['Airport.Code'] == 'PDX'.value_counts()

AttributeError: 'str' object has no attribute 'value_counts'

In [53]:
df['Airport.Code'] == 'PDX'.value_counts()

new_filter.value_counts()
print(new_filter)

AttributeError: 'str' object has no attribute 'nunique'

In [55]:
### returns top 5 records
df.head()

,Airport.Code,Airport.Name,Time.Label,Month,Time.Month Name,Time.Year,Statistics.# of Delays.Carrier,Statistics.# of Delays.Late Aircraft,Statistics.# of Delays.National Aviation System,Statistics.# of Delays.Security,...,Statistics.Flights.Delayed,Statistics.Flights.Diverted,Statistics.Flights.On Time,Statistics.Flights.Total,Statistics.Minutes Delayed.Carrier,Statistics.Minutes Delayed.Late Aircraft,Statistics.Minutes Delayed.National Aviation System,Statistics.Minutes Delayed.Security,Statistics.Minutes Delayed.Total,Statistics.Minutes Delayed.Weather
0,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",2003/06,6,June,2003,1009,1275,3217,17,...,5843,27,23974,30060,61606,68335,118831,518,268764,19474
1,BOS,"Boston, MA: Logan International",2003/06,6,June,2003,374,495,685,3,...,1623,3,7875,9639,20319,28189,24400,99,77167,4160
2,BWI,"Baltimore, MD: Baltimore/Washington Internatio...",2003/06,6,June,2003,296,477,389,8,...,1245,15,6998,8287,13635,26810,17556,278,64480,6201
3,CLT,"Charlotte, NC: Charlotte Douglas International",2003/06,6,June,2003,300,472,735,2,...,1562,14,7021,8670,14763,23379,23804,127,65865,3792
4,DCA,"Washington, DC: Ronald Reagan Washington National",2003/06,6,June,2003,283,268,487,4,...,1100,18,5321,6513,13775,13712,20999,120,52747,4141

In [67]:
### indexer
## loc and iloc

### start end step [row , col]
df.iloc[0:40:5,0:100:10]

,Airport.Code,Statistics.# of Delays.Weather,Statistics.Minutes Delayed.National Aviation System
0,ATL,328,118831
5,DEN,98,23538
10,IAD,66,25807
15,LGA,94,41007
20,ORD,157,135851
25,SEA,36,13860
30,BOS,61,26923
35,DFW,244,80740

In [71]:
### in loc col can be accessed using col name only

df.loc[100:200: , ["Airport.Name" , "Airport.Code" , "Time.Label"]]

                                       Airport.Name Airport.Code Time.Label
100           Las Vegas, NV: McCarran International          LAS    2003/09
101      Los Angeles, CA: Los Angeles International          LAX    2003/09
102                         New York, NY: LaGuardia          LGA    2003/09
103              Orlando, FL: Orlando International          MCO    2003/09
104       Chicago, IL: Chicago Midway International          MDW    2003/09
..                                              ...          ...        ...
196    Philadelphia, PA: Philadelphia International          PHL    2003/12
197   Phoenix, AZ: Phoenix Sky Harbor International          PHX    2003/12
198          San Diego, CA: San Diego International          SAN    2003/12
199       Seattle, WA: Seattle/Tacoma International          SEA    2003/12
200  San Francisco, CA: San Francisco International          SFO    2003/12

[101 rows x 3 columns]

In [82]:
### slicing could be done by accessing the col name

df.loc[100:200: , "Airport.Name" : "Month" : ]

                                       Airport.Name Time.Label  Month
100           Las Vegas, NV: McCarran International    2003/09      9
101      Los Angeles, CA: Los Angeles International    2003/09      9
102                         New York, NY: LaGuardia    2003/09      9
103              Orlando, FL: Orlando International    2003/09      9
104       Chicago, IL: Chicago Midway International    2003/09      9
..                                              ...        ...    ...
196    Philadelphia, PA: Philadelphia International    2003/12     12
197   Phoenix, AZ: Phoenix Sky Harbor International    2003/12     12
198          San Diego, CA: San Diego International    2003/12     12
199       Seattle, WA: Seattle/Tacoma International    2003/12     12
200  San Francisco, CA: San Francisco International    2003/12     12

[101 rows x 3 columns]

In [85]:
### change the name of col

df.rename(columns = {'Airport.Code' : 'Airport_Code'} , inplace=True)

In [87]:
### this will save the updated col name into `my_data.csv`

df.to_csv("my_data.csv")

In [92]:
### grouping
### req -1 : col should  be catagorical


nba = pd.read_csv('nba.csv')
nba

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [93]:
nba.isnull()

      Name   Team  Number  Position    Age  Height  Weight  College  Salary
0    False  False   False     False  False   False   False    False   False
1    False  False   False     False  False   False   False    False   False
2    False  False   False     False  False   False   False    False    True
3    False  False   False     False  False   False   False    False   False
4    False  False   False     False  False   False   False     True   False
..     ...    ...     ...       ...    ...     ...     ...      ...     ...
453  False  False   False     False  False   False   False    False   False
454  False  False   False     False  False   False   False     True   False
455  False  False   False     False  False   False   False     True   False
456  False  False   False     False  False   False   False    False   False
457   True   True    True      True   True    True    True     True    True

[458 rows x 9 columns]

In [95]:
nba.isnull().sum()

Name         1
Team         1
Number       1
Position     1
Age          1
Height       1
Weight       1
College     85
Salary      12
dtype: int64

In [96]:
### q1 find the recods having null value

In [107]:
### grouping

result = nba.groupby('College')
result

In [102]:
nba['College'].unique()

array(['Texas', 'Marquette', 'Boston University', 'Georgia State', nan,
       'LSU', 'Gonzaga', 'Louisville', 'Oklahoma State', 'Ohio State',
       'Washington', 'Kentucky', 'North Carolina', 'Arizona',
       'Georgia Tech', 'Cincinnati', 'Miami (FL)', 'Stanford', 'Syracuse',
       'Saint Louis', 'Kansas', 'Georgetown', 'Texas A&M', 'UCLA', 'UNLV',
       'Wichita State', "Saint Joseph's", 'Notre Dame', 'Norfolk State',
       'Duke', 'Murray State', 'Tennessee State', 'Bowling Green',
       'Purdue', 'Wake Forest', 'Michigan', 'Missouri', 'USC',
       'Villanova', 'Rider', 'Utah', 'Belmont', 'Davidson', 'Vanderbilt',
       'Michigan State', 'Florida', 'Washington State', 'Arizona State',
       'Oklahoma', 'Wyoming', "St. John's", 'Maryland', 'Wisconsin',
       'Utah Valley', 'North Carolina State', 'UC Santa Barbara',
       'Baylor', 'Connecticut', 'Oregon State', 'New Mexico', 'Oregon',
       'Creighton', 'Arkansas', 'Memphis', "Saint Mary's", 'Tennessee',
       'Alabama', 'Georgia', 'Colorado', 'Boston College', 'Temple',
       'Fresno State', 'IUPUI', 'Eastern Washington', 'Western Michigan',
       'Virginia', 'Northeastern', 'Western Kentucky', 'Nevada',
       'Illinois', 'Kansas State', 'Charleston', 'Clemson',
       'Blinn College', 'Providence', 'Detroit', 'Rhode Island',
       'California', 'Cleveland State', 'Iowa State', 'Florida State',
       'Long Beach State', 'Penn State', 'Indiana', 'San Diego State',
       'Western Carolina', 'Houston', 'Xavier', 'Old Dominion',
       'Minnesota', 'Louisiana Tech', 'Bucknell', 'Pittsburgh',
       'Virginia Commonwealth', 'Harvard', 'Marshall', 'Iowa',
       'St. Bonaventure', 'Louisiana-Lafayette', 'Colorado State',
       'Virginia Tech', 'DePaul', 'Morehead State', 'Central Michigan',
       'Weber State', 'Lehigh', 'Westchester CC', 'Dayton', 'Butler'],
      dtype=object)

In [110]:
ab = result.get_group("Texas")
ab

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
66,Cory Joseph,Toronto Raptors,6.0,PG,24.0,6-3,190.0,Texas,7000000.0
133,P.J. Tucker,Phoenix Suns,17.0,SF,31.0,6-6,245.0,Texas,5500000.0
179,Tristan Thompson,Cleveland Cavaliers,13.0,C,25.0,6-9,238.0,Texas,14260870.0
208,Myles Turner,Indiana Pacers,33.0,PF,20.0,6-11,243.0,Texas,2357760.0
289,Jordan Hamilton,New Orleans Pelicans,25.0,SG,25.0,6-7,220.0,Texas,1015421.0
294,LaMarcus Aldridge,San Antonio Spurs,12.0,PF,30.0,6-11,240.0,Texas,19689000.0
384,D.J. Augustin,Denver Nuggets,12.0,PG,28.0,6-0,183.0,Texas,3000000.0
414,Kevin Durant,Oklahoma City Thunder,35.0,SF,27.0,6-9,240.0,Texas,20158622.0

In [112]:
result["Age"].mean()

College
Alabama             29.000000
Arizona             27.384615
Arizona State       27.500000
Arkansas            27.333333
Baylor              25.000000
                      ...
Western Michigan    25.000000
Wichita State       25.000000
Wisconsin           25.800000
Wyoming             23.000000
Xavier              35.000000
Name: Age, Length: 118, dtype: float64

In [115]:
max_sal = result["Salary"].max()

In [116]:
min_sal = result["Salary"].min()

In [119]:
diff = max_sal - min_sal
diff

College
Alabama              1254941.0
Arizona             11504264.0
Arizona State       15644994.0
Arkansas             6224592.0
Baylor                     0.0
                       ...
Western Michigan           0.0
Wichita State              0.0
Wisconsin            3528353.0
Wyoming                    0.0
Xavier                     0.0
Name: Salary, Length: 118, dtype: float64